* {
  margin: 0 auto;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .presentation {
  margin: 50px 0;
  background: url('./assets/background-picture.jpg') no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center center;
  background-color: #bcbcbc;
  position: relative;
}

header .presentation::after {
  content: 'The most delicious lard in Poland';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600px;
  color: white;
}

header .presentation::before {
  position: absolute;
  content: 'For people as for myself';
  top: 250px;
  left: 50px;
  width: 300px;
  font-size: 25px;
  font-weight: 600px;
  color: white;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .item img {
  width: 100%;
  height: 75%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

main .item img:hover {
  transform: scale(1.05);
}

main h2, main p, main b {
  margin: 10px 20px;
  color: #333;
}

main b {
  color: 3=#5FA36A;
}

main .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-cart:hover {
  transform: scale(1.5) translateY(-5px);
}

footer {
  text-align: center;
  margin-top: 100px;
}
